/* ------------------------- DEFAULTS ------------------------- */
body {
  padding-top: 40px;
}

.jumbotron {
  text-align: center;
}

ul.errors {
  list-style: none;
  padding-left: 0;
}

ul.errors li {
  padding: 10px;
  margin: 0;
  text-align: center;
}

.notice {
  color: #a9a9a9;
}

.notice:hover {
  color: #000;
}

.asterix {
  color: red;
}


/* ------------------------- FOOTER ------------------------- */

footer {
  margin-top: 60px;
}

.copyright {
  text-align: center;
}